body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: #fff;
    height: 5px;
    padding: 20px;
}

.super-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000f7;
    color: #fff;
    height: 100px;
    padding: 10px;
}

.super-nav nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 20px;
    font-family: "Futura PT Demi", "DIN Condensed", arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.logo img {
    height: 100px;
    width: 160px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #0c0c0c;
    padding: 20px 20px;
    font-family: "Futura PT Demi", "DIN Condensed", arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

nav ul li a:hover {
    color: #1a40d5;
}

main {
    padding: 20px;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.cover-content {
    position: absolute;
    top: 50%;
    left: 60%;
    color: #fff;
    text-align: center;
}

.cover-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.cover-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.cover img {
    height: 600px;
    width: 1500px;
}

.cover-button {
    position: absolute;
    top: 100%;
    left: 40%;
    padding: 12px 24px;
    background-color: #1a40d5;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.services {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    margin-bottom: 20px;
}

.service-feature {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.service-feature img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.overlay p {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.service-feature:hover .overlay {
    background-color: rgba(2, 191, 244, 0.4);
}

.map {
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    height: 200px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.location-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/Map.png'),
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 100%;
}

.location-form:hover {
    background-color: rgba(2, 191, 244, 0.4);
}

.location-form label {
    font-size: 1em;
    margin-bottom: 8px;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.location-form select {
    width: 70%;
    padding: 3px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 1em;
}

.location-form select:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.location-form select:hover {
    background-color: rgba(255, 255, 255, 1);
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-btn {
    padding: 10px 20px;
    background-color: #1a40d5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #008ecc;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-image: url('./img/Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    font-family: 'Georgia', serif;
}

.testimonial {
    flex: 1 1 100%;
    margin-bottom: 20px;
}

.testimonial h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 2em;
    font-weight: 500;
}

.user-review {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    display: flex;
    align-items: flex-start;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    margin: 10px;
    min-width: 250px;
}

.user-review:hover {
    background-color: #a1d5eb;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

.user-position {
    margin: 0;
    font-size: 0.9em;
    color: #888;
    font-style: italic;
}

blockquote {
    margin: 0;
    font-style: italic;
    font-size: 1.1em;
    color: #444;
    border-left: 3px solid #ddd;
    padding-left: 15px;
    position: relative;
}

footer {
    background-color: #000000;
    color: #f1f1f1;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top: 3px solid #444;
    gap: 20px; 
}

.footer-section {
    flex: 1; 
    max-width: 400px;
    margin: 0 20px;
    box-sizing: border-box;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.4em;
    font-weight: 600;
    position: relative;
}

.footer-section h3::after {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #00bfff;
    margin-top: 8px;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #f1f1f1;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.footer-section ul li a:hover {
    color: #00bfff;
}

.footer-section ul li a img {
    margin-right: 10px; 
    width: 30px;
    height: 30px;
}

.footer-section.contact p {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.footer-section.contact p a {
    color: #f1f1f1;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section.contact p a:hover {
    color: #00bfff;
}

.footer-section.contact p i {
    margin-right: 10px;
    font-size: 1.2em;
}



@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .super-nav {
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
        height: 100%;
    }

    .super-nav nav {
        width: 100%;
        text-align: center;
        margin-top: 10px; 
    }

    .super-nav nav ul {
        flex-direction: column;
        position: static;
        margin: 0;
    }

    .super-nav nav ul li {
        margin-bottom: 10px;
    }

    .logo img {
        height: 80px;
        width: auto;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
        height: fit-content;
    }

    header nav {
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        position: static;
        margin: 0;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    .cover {
        flex-direction: column;
    }

    .cover img {
        width: 100%; 
        height: auto;
    }

    .cover-content {
        position: static;
        margin-top: -60px;
        color:black;
        text-align: center;
        padding: 20px;
    }

    .cover-content h1 {
        font-size: 36px;
    }

    .cover-content p {
        font-size: 18px;
    }

    .cover-button {
        position: static;
        margin-top: 20px;
    }

    .services {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .service-feature img {
        height: 150px;
    }

    .overlay p {
        font-size: 24px;
    }

    .testimonials {
        padding: 15px;
        margin: 20px 0;
    }

    .user-review {
        flex-basis: 100%;
        max-width: none;
    }

    .user-profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 0;
    }

    .user-image {
        margin-bottom: 10px;
    }

    .location-form {
        padding: 15px;
    }

    .location-form select {
        width: 90%;
    }

    .button-container {
        padding: 10px 0;
    }

    .search-btn {
        padding: 8px 16px; 
        font-size: 0.9em; 
    }

    .testimonial h2 {
        font-size: 1.8em;
    }

    blockquote {
        font-size: 1em;
        padding-left: 10px;
    }

    footer {
        padding: 30px 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        max-width: 100%;
        margin-bottom: 20px;
    }
}
